<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jerry.base.authority.dao.MenuMapper">
    <resultMap id="BaseResultMap" type="com.jerry.base.authority.entity.Menu">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="parentId" jdbcType="BIGINT" property="parentId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="path" jdbcType="VARCHAR" property="path"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="icon" jdbcType="VARCHAR" property="icon"/>
        <result column="order" jdbcType="INTEGER" property="order"/>
        <result column="createTime" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modifyTime" jdbcType="TIMESTAMP" property="modifyTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <collection property="roles" ofType="com.jerry.base.authority.entity.Role">
            <result property="id" column="roleId"/>
            <result property="name" column="roleName"/>
        </collection>
    </resultMap>
    <sql id="Base_Column_List">
        id,parentId, `name`, `path`, type, icon,`order`, createTime, modifyTime, remark
    </sql>

    <sql id="Base_Column_List2">
        p.*, r.id as roleId,r.name as roleName
    </sql>
    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List2"/>
        from t_menu p,t_role_menu rp,t_role r
        where id = #{id,jdbcType=BIGINT}
        and p.id = rp.menuId and r.id = rp.roleId
    </select>

    <select id="findByName" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List2"/>
        from t_menu p,t_role_menu rp,t_role r
        where p.id = #{id,jdbcType=BIGINT}
        and p.id = rp.menuId and r.id = rp.roleId
    </select>

    <select id="findByPath" parameterType="string" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List2"/>
        from t_menu p,t_role_menu rp,t_role r
        where p.name = #{name,jdbcType=VARCHAR}
        and p.id = rp.menuId and r.id = rp.roleId
    </select>

    <select id="findAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List2"/>
        from t_menu p,t_role_menu rp,t_role r
        where p.id = rp.menuId and r.id = rp.roleId
        order by p.order
    </select>

    <delete id="deleteById" parameterType="list">
        delete from t_menu
        where id in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>

    <delete id="deleteRelationshipPrivilegeWithRole" parameterType="list">
        delete from t_role_menu
        where menuId in
        <foreach collection="ids" item="id" separator="," open="(" close=")">
            #{id,jdbcType=BIGINT}
        </foreach>
    </delete>

    <delete id="deleteRoleRelationship" parameterType="int">
        delete from t_role_menu
        where menuId = #{param1} and roleId = #{param2}
    </delete>

    <insert id="save" keyColumn="id" keyProperty="id" parameterType="com.jerry.base.authority.entity.Menu">
        insert into t_menu (createTime, modifyTime, `name`,
          `path`, remark)
        values (#{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR},
          #{path,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
    </insert>

    <insert id="saveRelationshipWithRole" parameterType="int">
        insert into t_role_menu (menuId,roleId) values (#{param1} ,#{param2})
    </insert>

    <update id="updateByIdSelective" parameterType="com.jerry.base.authority.entity.Menu">
        update t_menu
        <set>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modifyTime = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="name != null">
                `name` = #{name,jdbcType=VARCHAR},
            </if>
            <if test="path != null">
                `path` = #{path,jdbcType=VARCHAR},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateById" parameterType="com.jerry.base.authority.entity.Menu">
    update t_menu
    set createTime = #{createTime,jdbcType=TIMESTAMP},
      modifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      `name` = #{name,jdbcType=VARCHAR},
      `path` = #{path,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
